<%= form_with(model: ventum, local: true) do |form| %>
  <% if ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
        <% ventum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :movie_id %>
    <%= form.text_field :movie_id %>
  </div>

  <div class="field">
    <%= form.label :tv_serie_id %>
    <%= form.text_field :tv_serie_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
