<br><br><br>


<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">  
      <div class="card" style=" width: 100%;">
        <div class="card-header">
          <div class="row">
            <div class="card-title col-md-2">
              <h2 style="text-align: center;">Clientes</h2>
            </div>
            <div class="card-subtitle  col-md-10" style="text-align: right;">
              <%= link_to 'Agregar Nuevo Cliente', new_user_path, class: "btn btn-outline-primary", style: "color: black;", 'aria-hidden' => true %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= search_form_for @search do |f| %>
            <div class="mb-3 row" style="text-align: center;">
              <%= f.label "Buscar por Nombre Cliente", class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-3">
                <%= f.search_field :name_cont , class: 'form-control' %>
              </div>
              <div class="col-sm-2">
                <%= f.submit "Buscar", class: 'btn btn-outline-primary' %>
              </div>
            </div>
          <% end %>
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
              <thead class="table-light ">
                <tr>
                  <th style="text-align: center;">Email</th>
                  <th style="text-align: center;">Nombre</th>
                  <th style="text-align: center;">Arriendos</th>
                  <th colspan="3" style="text-align: center;">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <% @users.each do |u| %>
                  <tr>
                    <td style="text-align: center;"><%= u.email %></td>
                    <td style="text-align: center;"><%= u.name %></td>
                      <td style="text-align: center;"><%= link_to "<button class='btn btn-outline-primary'>Arriendos</button>".html_safe, user_path(u), style: "background: none;", 'aria-hidden' => true %></td>
                    <td><%= link_to "<i class='fas fa-edit' aria-hidden='true' style='background: none;'></i>".html_safe, edit_user_path(u), style: "background: none;", 'aria-hidden' => true %></td>
                    <td><%= link_to "<i class='fas fa-trash-alt' aria-hidden='true' style='background: none;'></i>".html_safe, u, method: :delete, data: { confirm: '¿Esta seguro de esta Acción?' }, style: "background: none;", 'aria-hidden' => true %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @users, window: 2 %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
</div>